.footer__nav {
    min-height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__nav-list {
    display: flex;
    column-gap: 20px;
}

.footer__nav-item:hover {
    color: var(--accent-color);
}

.soc__list {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.soc__link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--bg-main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition:
        color 300ms linear,
        background-color 300ms linear;

    & > .soc-icon {
        fill: currentColor;
    }

    &:hover,
    &:focus {
        background-color: var(--bg-orange-color);
        color: var(--bg-main-color);
    }
}

.footer__copy {
    height: 66px;
    background-color: var(--bg-main-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
