.header {
    position: absolute;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-nav {
    display: flex;
    align-items: flex-start;
}

.header-nav__list_left {
    display: flex;
}
.header-nav__link {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    &:hover {
        color: var(--accent-color);
    }
}

.header__item:not(:last-child) {
    margin-right: 30px;
}

.header-logo {
    margin-left: auto;
}

.header-nav__list_right {
    margin-left: auto;
    display: flex;
}
