.portfolio__list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio__item {
    width: calc(100% / 3);
    height: 350px;
    padding: 40px;
    &:nth-child(2) {
        background-image: url("../../img/our-works-pic1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &:nth-child(4) {
        background-image: url("../../img/our-works-pic2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    & .btn {
        margin-top: 10px;
    }
}

.color_pink {
    background-color: var(--bg-pink-color);
}
.color_orange {
    background-color: var(--bg-orange-color);
}
.color_blue {
    background-color: var(--bg-blue-color);
}
