p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button,
a {
  cursor: pointer;
  color: currentColor;
}

address {
  font-style: normal;
}

h1 {
  font-family: "Raleway", sans-serif;
}

img {
  display: block;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  outline: 1px solid red;
}

.section {
  padding-top: 10px;
  padding-bottom: 10px;
}

.section__title {
  color: var(--title-text-color);
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
}

.title {
  color: var(--title-text-color);
  margin-bottom: 10px;
  text-align: center;
}

.text {
  margin-bottom: 10px;
}

.btn {
  min-width: 200px;
  padding: 10px 60px;
  color: #212121;
  display: inline-block;
  border: 2px solid #909090;
  border-radius: 5px;
  background-color: transparent;
}

.hero {
  height: 695px;
  margin: 0 auto;
  padding: 20px;
  background-color: grey;
  background-image: linear-gradient(rgba(218, 234, 247, 0.2), rgba(25, 28, 38, 0.3)), url("../../img/header-index-pic.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header {
  background-color: gray;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav__list_left {
  display: flex;
}

.header-nav__link {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
}

.header__item:not(:last-child) {
  margin-right: 30px;
}

.header-logo {
  margin-left: auto;
}

.header-nav__list_right {
  margin-left: auto;
  display: flex;
}

.about .container {
  display: flex;
  gap: 40px;
}

.about__info_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33%;
  padding: 15px;
}

.about__text {
  margin-bottom: 20px;
}

.about__btn_wrap {
  text-align: center;
  margin-top: 20px;
}

.about__info_right {
  width: 67%;
}

.about__img::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  border: 7px solid rgba(146, 7, 7, 0.5);
}

.about__img {
  width: 100%;
}

.teams__list {
  display: flex;
  column-gap: 20px;
}

.teams__item {
  text-align: center;
  width: calc((100% - 40px) / 5);
}
.teams__item > h3 {
  font-size: 18px;
  margin-top: 23px;
  margin-bottom: 7px;
}
.teams__item > p {
  font-size: 14px;
  margin-bottom: 10px;
}

.services {
  width: 100%;
  height: 750px;
  background-image: linear-gradient(rgba(218, 234, 247, 0.4), rgba(218, 234, 247, 0.4)), url(../../img/services.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.services__list {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.servises__logo {
  background: transparent;
}

.partners__list {
  display: flex;
  gap: 20px;
}

.partners__item {
  width: 375px;
  height: 280px;
}

.partners__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.partners__link > img {
  height: auto;
  max-width: 100%;
}

.partners__link > p {
  font-size: 18px;
  font-family: FregatBold;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.1;
  color: #337ab7;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__item {
  width: 33.3333333333%;
  height: 350px;
  padding: 40px;
}
.portfolio__item:nth-child(2) {
  background-image: url("../../img/our-works-pic1.jpg");
}
.portfolio__item:nth-child(4) {
  background-image: url("../../img/our-works-pic2.jpg");
}
.portfolio__item .btn {
  margin-top: 10px;
}

.color_pink {
  background-color: #ffdad1;
}

.color_orange {
  background-color: #fff3c9;
}

.color_blue {
  background-color: #d6ecff;
}

.contacts__list {
  display: flex;
  justify-content: space-between;
}

.contact__item_tel {
  display: flex;
  flex-direction: column;
}

.contacts__map-form_wrap {
  display: flex;
}

.contacts-form {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}

.footer__nav {
  min-height: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__nav-list {
  display: flex;
}

.soc__list {
  display: flex;
}

.footer__copy {
  height: 66px;
  background-color: #b0cde6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --accent-color: #909090;
  --title-text-color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */