body {
    font-family: "Montserrat", sans-serif;
    font-family: "Open Sans", sans-serif;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;

    outline: 1px solid red;
}

.section {
    padding-top: 10px;
    padding-bottom: 10px;
}

.section__title {
    color: var(--title-text-color);
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
}
.title {
    color: var(--title-text-color);
    margin-bottom: 10px;
    text-align: center;
}

.text {
    margin-bottom: 10px;
}
